.App {
  text-align: center;
}
body{
  background-color: rgb(255, 246, 235) ;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.tasks{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  margin: 50px;
  background-color: white;
  padding: 30px;
  padding-bottom: 0;
}


.button{
  font-size: 70px;
  border-radius: 50%;
  background-color: rgb(150, 239, 150);
  border: none;
  color: rgb(108, 161, 108);
  margin-top: 120px;
  margin-bottom: 0;
}

form{
  background-color: white;
  font-size: 21px;
  text-align: left;
  padding: 10px;
  margin-top:17px ;
}
.chkbox{
  float: right;
  height: 15px;
  width: 15px;
}

label, input{
  background-color: white;
  font-size: 20px;
  padding: 5px;
  line-height: 1.5;
}

.check {
  margin-top: 30px;
}

.dateAndDay{
  background-color: white;
  margin-bottom: 0;
  font-size: 20px;
  display:flex;
}

.day{
 padding-left: 105px;
 text-align: right;
 text-transform: uppercase;
}
.date{
  text-align: left;
  padding-left: 15px;
}

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}